 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/810402_73297773689c4ef0a93d29048996e08a_mv21.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 4.5rem;
  margin: 176px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0 24px;
}

.u-section-1 .u-icon-1 {
  width: 14px;
  height: 19px;
}

.u-section-1 .u-list-1 {
  width: 293px;
  margin: 54px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 91px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 87px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 64px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 66px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 942px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 35px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 513px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-2 .u-image-1 {
  width: 444px;
  height: 383px;
  margin: 66px auto 0 44px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 513px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px 31px;
}

.u-section-2 .u-group-1 {
  width: 386px;
  min-height: 230px;
  height: auto;
  margin: 10px -1px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 28px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  margin: -200px 445px 0 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 423px;
    background-position: 77.27% 0%;
  }

  .u-section-2 .u-image-1 {
    height: 382px;
    margin-left: 4px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 275px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 274px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-2 .u-image-1 {
    width: 338px;
    height: 291px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 276px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 355px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 294px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 27px 30px;
}

.u-section-3 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 17px 128px 0 3px;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 17px 1px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 27px 30px;
}

.u-section-3 .u-icon-2 {
  height: 55px;
  width: 55px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 17px 128px 0 3px;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 17px 1px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 27px 30px;
}

.u-section-3 .u-icon-3 {
  height: 55px;
  width: 55px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 17px 128px 0 3px;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 17px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 242px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 556px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1188px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 138px 0 118px;
}

.u-section-4 .u-list-1 {
  margin: 46px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 561px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-image-1 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-text-3 {
  font-style: normal;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-image-2 {
  height: 196px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-text-5 {
  font-style: normal;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-3 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
}

.u-section-4 .u-text-7 {
  font-style: normal;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-4 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
}

.u-section-4 .u-text-7 {
  font-style: normal;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-5 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
}

.u-section-4 .u-text-7 {
  font-style: normal;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-6 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
}

.u-section-4 .u-text-7 {
  font-style: normal;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 628px;
    margin-left: 18px;
    margin-right: 38px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 463px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 162px;
  }

  .u-section-4 .u-text-2 {
    margin: 12px 0 0;
  }

  .u-section-4 .u-text-3 {
    margin: 35px auto 0 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 162px;
  }

  .u-section-4 .u-text-4 {
    margin: 12px 0 0;
  }

  .u-section-4 .u-text-5 {
    margin: 35px auto 0 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 162px;
  }

  .u-section-4 .u-text-6 {
    margin: 12px 0 0;
  }

  .u-section-4 .u-text-7 {
    margin: 35px auto 0 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 162px;
  }

  .u-section-4 .u-text-6 {
    margin: 12px 0 0;
  }

  .u-section-4 .u-text-7 {
    margin: 35px auto 0 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-4 .u-image-5 {
    height: 162px;
  }

  .u-section-4 .u-text-6 {
    margin: 12px 0 0;
  }

  .u-section-4 .u-text-7 {
    margin: 35px auto 0 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-4 .u-image-6 {
    height: 162px;
  }

  .u-section-4 .u-text-6 {
    margin: 12px 0 0;
  }

  .u-section-4 .u-text-7 {
    margin: 35px auto 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 798px;
  }

  .u-section-4 .u-image-1 {
    height: 186px;
  }

  .u-section-4 .u-image-2 {
    height: 186px;
  }

  .u-section-4 .u-image-3 {
    height: 186px;
  }

  .u-section-4 .u-image-4 {
    height: 186px;
  }

  .u-section-4 .u-image-5 {
    height: 186px;
  }

  .u-section-4 .u-image-6 {
    height: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 279px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 279px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 279px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 279px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 279px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 279px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    height: 176px;
  }

  .u-section-4 .u-image-2 {
    height: 176px;
  }

  .u-section-4 .u-image-3 {
    height: 176px;
  }

  .u-section-4 .u-image-4 {
    height: 176px;
  }

  .u-section-4 .u-image-5 {
    height: 176px;
  }

  .u-section-4 .u-image-6 {
    height: 176px;
  }
}

.u-section-4 .u-list-item-1,
.u-section-4 .u-list-item-1:before,
.u-section-4 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-2,
.u-section-4 .u-list-item-2:before,
.u-section-4 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-3,
.u-section-4 .u-list-item-3:before,
.u-section-4 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 773px;
}

.u-section-5 .u-list-1 {
  width: 588px;
  margin: 60px 0 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 653px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-5 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  width: 198px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 10px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-5 .u-icon-2 {
  height: 55px;
  width: 55px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  width: 198px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 10px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-5 .u-icon-3 {
  height: 55px;
  width: 55px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  width: 198px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 10px 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-5 .u-icon-4 {
  height: 55px;
  width: 55px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-7 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  width: 198px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 10px 0;
}

.u-section-5 .u-group-1 {
  width: 533px;
  min-height: 653px;
  height: auto;
  margin: -745px auto 60px 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 40px 37px;
}

.u-section-5 .u-image-1 {
  height: 282px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-9 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-10 {
  margin: 26px 0 0;
}

.u-section-5 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1621px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 888px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 21px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 133px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 839px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 70px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 17.25px));
  min-height: 533px;
  grid-gap: 23px;
}

.u-section-6 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 197px;
  height: 197px;
  background-image: url("images/T3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 47px auto 0;
}

.u-section-6 .u-text-3 {
  font-style: normal;
  margin: 30px 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 15px auto 0;
}

.u-section-6 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 197px;
  height: 197px;
  background-image: url("images/T2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-6 .u-text-5 {
  font-style: normal;
  margin: 30px 0 0;
}

.u-section-6 .u-social-icons-2 {
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 15px auto 0;
}

.u-section-6 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 197px;
  height: 197px;
  background-image: url("images/T1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-6 .u-text-7 {
  font-style: normal;
  margin: 30px 0 0;
}

.u-section-6 .u-social-icons-3 {
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 15px auto 0;
}

.u-section-6 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  width: 197px;
  height: 197px;
  background-image: url("images/T4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-6 .u-text-9 {
  font-style: normal;
  margin: 30px 0 0;
}

.u-section-6 .u-social-icons-4 {
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 439px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    width: 153px;
    height: 153px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    width: 153px;
    height: 153px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    width: 153px;
    height: 153px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-4 {
    width: 153px;
    height: 153px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.5px));
    min-height: 1011px;
  }

  .u-section-6 .u-image-1 {
    width: 197px;
    height: 197px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-2 {
    width: 197px;
    height: 197px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-3 {
    width: 197px;
    height: 197px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-4 {
    width: 197px;
    height: 197px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2320px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-slider-1 {
  margin-top: 0;
  margin-bottom: 60px;
  min-height: 438px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-7 .u-image-1 {
  width: 292px;
  height: 384px;
  margin: 17px auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  margin: -268px 0 0 347px;
}

.u-section-7 .u-text-2 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0 347px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 130px;
}

.u-section-7 .u-image-2 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  margin: -268px 0 0 348px;
}

.u-section-7 .u-text-4 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0 348px;
}

.u-section-7 .u-container-layout-3 {
  padding: 24px 130px;
}

.u-section-7 .u-image-3 {
  width: 292px;
  height: 384px;
  margin: 6px auto 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  margin: -271px 0 0 348px;
}

.u-section-7 .u-text-6 {
  line-height: 2;
  font-style: italic;
  margin: 23px 0 0 348px;
}

.u-section-7 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-section-7 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-slider-1 {
    height: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: -3px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -313px;
    margin-left: 312px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 33px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 33px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-left: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-image-1 {
    width: 250px;
    height: 333px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-image-2 {
    width: 250px;
    height: 326px;
    margin-top: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-image-3 {
    width: 250px;
    height: 326px;
    margin-top: 6px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-7 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    margin-left: auto;
  }

  .u-section-7 .u-text-5 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 625px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 565px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-form-1 {
  height: 317px;
  margin: 0 0 0 -60px;
}

.u-section-8 .u-form-group-1 {
  margin-left: auto;
}

.u-section-8 .u-form-group-2 {
  margin-left: auto;
}

.u-section-8 .u-form-group-3 {
  margin-left: auto;
}

.u-section-8 .u-form-group-4 {
  margin-left: auto;
}

.u-section-8 .u-form-group-5 {
  margin-left: auto;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: auto;
  width: 100%;
  padding: 15px 31px 15px 29px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 568px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 565px;
  background-image: url("images/pexels-photo-2422294.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-3 {
  padding: 42px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-8 .u-image-1 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-image-1 {
    min-height: 357px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 846px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    min-height: 533px;
  }
}